.link {
    text-decoration: none;
    color: #e0e0e0;
}

.link:hover {
    color: #a0a0a0;
}

.food-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
    grid-gap: 20px;
    word-wrap: break-word;
}

.food-item {
    border: 2px solid #e0e0e0;
    padding: 10px;
    border-radius: 10px;
}

.button {
    border: 0px;
    background-color: #5555ff;
    color: #e0e0e0;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    transition: 200ms ease-in-out;
}

.button:hover {
    background-color: #3333ff;
    cursor: pointer;
}

input[type=text] {
    background-color: #1e1e1e;
    color: #e0e0e0;
}