body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* So the footer will work*/
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;

    background-color: #2e2e2e;
    color: #e0e0e0;
    font-family: sans-serif;
}

header, main {
    padding: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    background-color: #1e1e1e;
    color: #e0e0e0;
}

footer {
    background-color: #1e1e1e;
    color: #e0e0e0;
    padding: 10px;
    text-align: center;
}