{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | Food App</title>

    <link rel="stylesheet" href="{% static 'css/skel.css' %}">
    <link rel="stylesheet" href="{% static 'css/comp.css' %}">
</head>
<body>
    <div class="wrapper">
        <header>
            <a href="{% url 'index' %}" class="link">Food App</a>
            <p>Created by judas</p>
        </header>
        <main>
            {% block main %}{% endblock %}
        </main>
    </div>

    <footer>
        <p>This is a simple food app in Django</p>
    </footer>
</body>
</html>