{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block main %}
    <img src="{{ food.imgurl }}" alt="" style="width: 500px; height: 400px">    
    <h1>{{ food.name }}</h1>
    <p>{{ food.desc }}</p>
{% endblock %}