{% extends 'base.html' %}
{% block title %}Index{% endblock %}
{% block main %}

    <h1>Add Food</h1>
    <form action="/" method="POST">
        {% csrf_token %}
        {{ food_form }}

        <input type="submit" value="Submit Food">
    </form>

    <h1>Food Items</h1>
    <div class="food-items">
        {% for i in foods %}
        <div class="food-item">
            <img src="{{ i.imgurl }}" alt="" style="width: 150px; height: 100px">
            <h1>{{ i.name }}</h1>
            <p>{{ i.desc }}</p>

            <a href="{% url 'details' i.name %}"><button class="button">Learn More!</button></a>
        </div>
        {% endfor %}
    </div>


{% endblock %}